* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header and footer */

header, footer{
    height: 55px;
    width: 100%;
    background-color: #00796B;
    position: fixed;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    font-family: 'Lato';
    z-index: 2;
}

footer {
    bottom: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 1;
    padding-top: 20px;
}

footer p {
    font-family: 'Manrope';
    color: white;
    margin-left: 130px;
    margin-right: 130px;
}

.header-menu{
    width: 474px;
    height: 60px;
    position: absolute;
    top: 18px;
    left: 36%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-item:hover .dropdown-content {
    display: block;
}

.header-item{
    flex: 1;
    height: 24px;
    position: relative;
    display: flex;
}

.header-text{
    width: 100%;
    height: 22px;
    color: white;
    font-size: 17px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.header-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid white;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.features-arrow {
    right: 35px;
}

.header-logo{
    position: absolute;
    left: 49px;
    top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'jsMath-cmbx10';
    font-weight: 600;
    word-wrap: break-word;
}

.header-login{
    width: 187px;
    height: 44px;
    position: absolute;
    top: 13px;
    left: 85%;
    display: flex;
}

.login-button{
    width: 110px;
    height: 30px;
    position: relative;
}

.button-background{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    border: 1.50px #CDD1E0 solid;
}

.button-text {
    width: 100%;
    height: 100%;
    color: blue;
    font-size: 17px;
    font-family: Lato;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}

.button-text a{
    text-decoration: none;
    color: black;
    font-family: 'Manrope';
}
.header-bar {
    width: 100%;
    height: 75px;
    position: absolute;
    background: #00796B;
    border-radius: 3px;
}

.header-text a {
    text-decoration: none;
    color: white;
}

main{
    font-family: 'Manrope', sans-serif;
    align-items: center;
    width: 100%;
}

.centavo-about{
    margin-top: 100px;
    display: block;
    align-items: center;
    padding: 65px 250px;
    text-align: center;
}

.about-text{
    background: #00796B;
    width: 500px;
    height: 250px;
    margin-left: 175px;
    padding-top: 80px;
    border-radius: 50% / 50%;;
    flex-shrink: 0;
}

.centavo-features, .centavo-team, centavo-testimonials{
    margin: 100px 0;
}

.centavo-about h1, p {
    margin-bottom: 20px;
}

/* centavo team */

.centavo-features, .testimonial-text{
    text-align: center;
    flex-shrink: 0;
}

/* centavo features */

.feature{
    border-radius: 30px;
    background: #009688;
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    margin: 20px;
}

.testimonial{
    border-radius: 30px;
    width: 500px;
    height: 180px;
    flex-shrink: 0;
    margin: 20px;
    border-radius: 20px;
    border: 1.5px solid #009688;
    justify-content: left;
}

.feature-info, .testimonial-info{
    padding: 10px 25px;
}

.feature-info hr{
    border-color: black;
}

.feature h3, .testimonial h3{
    padding: 10px;
}

.feature p, .testimonial p{
    padding-top: 20px;
}

.testimonial h3{
    color: #727DAD;
}

.testimonial p{
    color: black;
}

.features-list, .testimonial-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  color: white;
}

.centavo-testimonials{
    margin-bottom: 150px;
}