/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Dec, 2023, 2:42:45 AM
    Author     : User
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header and footer */

header, footer{
    height: 55px;
    width: 100%;
    background-color: #00796B;
    position: fixed;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    font-family: 'Lato';
    z-index: 2;
}

footer {
    bottom: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    z-index: 1;
    padding-top: 5px;
}

footer p {
    font-family: 'Manrope';
    color: white;
    margin-left: 130px;
    margin-right: 130px;
}

.header-menu{
    width: 474px;
    height: 60px;
    position: absolute;
    top: 18px;
    left: 36%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-between;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-item:hover .dropdown-content {
    display: block;
}

.header-item{
    flex: 1;
    height: 24px;
    position: relative;
    display: flex;
    width: 20px;
}

.header-text{
    width: 100%;
    height: 22px;
    color: white;
    font-size: 17px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.header-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid white;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.features-arrow {
    right: 35px; /* Adjust this value as needed for the Features arrow */
}

.header-logo{
    position: absolute;
    left: 49px;
    top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'jsMath-cmbx10';
    font-weight: 600;
    word-wrap: break-word;
}

.header-logo a{
    text-decoration: none;
    color: white;
}

.header-login{
    width: 187px;
    height: 44px;
    position: absolute;
    top: 13px;
    left: 85%;
    display: flex;
}

.login-button{
    width: 110px;
    height: 30px;
    position: relative;
}

.button-background{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    border: 1.50px #CDD1E0 solid;
}

.button-text {
    width: 100%;
    height: 100%;
    color: blue;
    font-size: 17px;
    font-family: Lato;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}

.button-text a{
    text-decoration: none;
    color: black;
    font-family: 'Manrope';
}
.header-bar {
    width: 100%;
    height: 75px;
    position: absolute;
    background: #00796B;
    border-radius: 3px;
}

.header-text a {
    text-decoration: none;
    color: white;
}

/*PAGE CONTENT*/
.page-content{
    display: flex;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    margin-top: 75px;
}

/*SIDE MENU*/
.side-menu{
    width: 250px;
    height: 100%;
    background: #C6C6C6;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: left;
    top: 50px;
}

.menu-links{
    list-style: none;
    position: relative;
}

.menu-links li{
    padding: 0 20px;
}

.menu-links li a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

hr{
    border-color: black;
    width: 100%;
}

.main-content{
    flex: 1 1 0;
    padding: 0px;
    align-items: right;
    margin: 80px 350px;
}

form{
    margin: 10px;
    width: 300px; 
    text-align: right;
}

fieldset{
    border: none;
}

label{
    display: block;
    padding: 10px;
}

input{
    width: 155px;
    height: 25px;
}

placeholder{
    text-align: right;
}

.buttons{
   display: flex;
   margin-top: 20px;
   gap: 50px;
   justify-content: center;
   
}

.button{
    height: 25px;
    width: 80px;
    border-radius: 100px;
    border: none;
    color: white;
}

.button.add{
    background-color: #6CA468;
}

.button.cancel{
    background-color: #C70000;
}

/*TABLE*/
table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 15px;
    border: 1px solid white;
    table-layout: auto;
    width: 1000px;
    justify-content: center;
    background: #D1D8E0;
    margin-top: 20px;
}

th{
    font-weight: bold;
    width: 1000px;
    height: 70px;
    border-spacing: 0;
    border-collapse: separate;
    border-top-radius: 15px;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    border-spacing: 0;
    border-collapse: separate;
    border-bottom-radius: 15px;
}